.home-page {
  flex-grow: 1;
  margin-left: 200px;
  /* Отступ под ширину SideNav */
  background-color: #7bb9f2;
  /* Голубой фон дизайна */
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page h1 {
  font-size: 48px;
  margin-bottom: 40px;
}