.profile-page {
  flex-grow: 1;
  margin-left: 200px;
  background-color: #7bb9f2;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-page h1 {
  font-size: 48px;
  color: #000;
  margin-top: 0;
}